//Import fonts google
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  letter-spacing: 1px;
  color: #345443;
  text-shadow: 0 0 0.5px rgba(58, 57, 57, 0.25);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: $h1Size;
}
h2 {
  font-size: $h1Size * 0.9;
}
h3 {
  font-size: $h1Size * 0.8;
}
h4 {
  font-size: $h1Size * 0.7;
}
h5 {
  font-size: $h1Size * 0.6;
}
h6 {
  font-size: $h1Size * 0.5;
}
.il-right {
  text-align: right;
}
.il-center {
  text-align: center;
}
