$h1Size: 36px;
$max-width: 1344px;

//colors
$positive: #3a464e;
$negative: #949596;
$light: #fafcfe;
$dark: #454647;
$border: #5e6163;
$green: #45e677;
$red: #ce430c;
$orange: #f0b64c;

/**alert */
$delay: 550ms;
$top: -20px;
$top-show: 32vh;
$opacity-show: 0.95;

/** background */
$backcolor-alert-success: rgb(16, 207, 156);
$backcolor-alert-info: #2bd3e9;
$backcolor-alert-danger: #4b1a0d;
$backcolor-alert-warning: #c5300b;
