.il-background--gradient-grey {
  background-image: linear-gradient(to right, #a8caba 0%, #5d4157 100%);
}
.il-background--gradient--grey-sky {
  background-image: linear-gradient(
    to top,
    #0c3483 0%,
    #a2b6df 100%,
    #6b8cce 100%,
    #a2b6df 100%
  );
}

.il-background--gradient-great-whale {
  background-image: linear-gradient(to top, #a3bded 0%, #6991c7 100%);
}

.il-background--dark{
    background: #454343
}
