.il-background--gradient-grey {
  background-image: linear-gradient(to right, #84918b 0%, #5d4157 100%);
}
.il-background--gradient--grey-sky {
  background-image: linear-gradient(
    to top,
    #70747a 0%,
    #9ea6b6 100%,
    #43454b 100%,
    #8f9094 100%
  );
}

.il-background--gradient-great-whale {
  background-image: linear-gradient(to top, #a3bded 0%, #6991c7 100%);
}

.il-background--dark{
    background: #454343
}
