ul.il-box--expenses,
ul.il-box--home {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(90px, 130px));
  grid-gap: 0.15rem;
  align-content: center;
  justify-content: space-between;
  width: 100%;
  > li {
    padding: 0 0.15rem;
    min-height: 80px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include ease(500);
    a.il-nav--link {
      padding: 0.35rem 0.3rem;
      background: #34485b;
      border-radius: 3px;
      box-shadow: 2px 3px 5px #443c3a;
      @include ease(500);
      &:hover {
        border: 1px solid white;
        @include ease(500);
        background: #231110;
        box-shadow: 2px 3px 5px #865650;
      }
      h5 {
        font-size: 0.8rem;
      }
      span {
        display: block;
        font-size: 0.8rem !important;
      }
    }
  }
}

img.il-boxes--avatar {
  width: 100%;
  max-width: 72px;
  margin: 0 auto;
}
