ul.il-box--expenses,
ul.il-box--home {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(90px, 130px));
  grid-gap: 0.15rem;
  align-content: center;
  justify-content: space-between;
  width: 100%;
  > li {
    padding: 0 0.15rem;
    min-height: 80px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 3px;
    @include ease(500);
    a.il-nav--link {
      border: 1px solid white;
      padding: 0.35rem 0.3rem;
      &:hover {
        @include ease(500);
        background: #231110;
        box-shadow: 2px 3px 5px #865650;
      }
      h5 {
        font-size: 0.8rem;
      }
    }
  }
}
