a.il-btn,
button.il-btn {
  font-size: inherit;
  word-spacing: 2px;
  font-weight: 700;
  padding: 0.5rem 1.3rem;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  transition: all 0.5s;
  text-align: center;
  text-decoration: none;
  letter-spacing: 4px;
  visibility: visible;
  outline: none;
  transition: 450ms ease-in;
  &.il-btn--schedule {
    padding: 0.15rem 0.25rem;
    font-size: 12px;
    width: 100px;
    height: 40px;
    background: rgb(102, 87, 79);
    color: white;
    width: 100%;
    @media (min-width: 600px) {
      padding: 0.3rem 0.5rem;

      width: auto;
    }

    margin: 0 auto;
  }
  &.il-btn--submit {
    color: rgb(216, 196, 196);
    margin-bottom: 1rem;
    height: 35px;
    width: 210px;
    font-size: 14px;
    background: rgb(68, 70, 78);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    padding: 0.25rem 0.3rem;
    i {
      margin-right: 0.25rem;
    }
    span {
      line-height: 14px;
      display: block;
    }
    &:hover {
      transition: 450ms ease-in;
      background: #181313;
      color: $negative;
      transform: scale(0.95);
    }
  }
  &.il-btn--return {
    color: rgb(243, 93, 93);
    margin-bottom: 1rem;
    height: 35px;
    width: 210px;
    font-size: 14px;
    background: rgb(68, 70, 78);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.25rem 0.3rem;
    border-radius: 25px;
    i {
      margin-right: 0.25rem;
    }
    span {
      line-height: 14px;
      display: block;
    }
    &:hover {
      transition: 450ms ease-in;
      background: #181313;
      color: $negative;
      transform: scale(0.95);
    }
  }
  &.il-btn--center {
    margin: 0 auto;
  }
  &.il-btn--entrance {
    color: lightgrey;
    border-radius: 25px;
    letter-spacing: normal;
    text-transform: none;
    background: rgb(42, 49, 88);
    //width: 170px;
    display: inline-block;
  }
  &.il-btn--add {
    font-size: 1.5rem;
    background: none;
    border: 1px solid $border;
    font-weight: 700;
    padding: 0;
    border-radius: 50%;
    color: $dark;
    line-height: 1.5rem;
    width: 2rem;
    height: 2rem;
    &:hover {
      background: #434343;
      color: $positive;
    }
    &:active {
      transform: scale(0.95);
    }
    &:focus {
      outline: none;
    }
  }
  &:hover {
    transition: 450ms ease-in;
    background: #efefee;
    color: $dark;
  }
}
