.il-lists {
  margin-bottom: 1rem;
  box-shadow: 1px 2px 5px rgba(92, 86, 86, 0.6);

  .il-search--student {
    padding: 1px;
    opacity: 0.9;
    margin-bottom: 1rem;
    input[type='search'] {
      width: 100%;
      height: 40px;
      display: block;
      margin: 0 auto;
      font-family: inherit;
      font-size: 14px;
      padding: 0.35rem 0.45rem;
      border: none;
      outline: none;
    }
    .il-search--result {
      border-top: 1px solid #000;
      width: 100%;

      background: white;
    }
  }
  &.no-shadow {
    box-shadow: none;
  }
  .il-statistic {
    width: 400px;
    height: 80px;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
  }
}
