.il-color--light {
  color: $light !important;
}
.il-color--medium-light {
  color: darken($light, 15%);
}
.il-color--darkblue {
  color: rgb(225, 239, 243);
  text-shadow: 2px 3px 7px rgba(0, 0, 0, 0.5);
}
.il-color--light-green {
  color: rgb(140, 245, 79);
}
.il-color--light-blue {
  color: rgb(113, 154, 207);
}
.il-color--green {
  color: $green;
}
.il-color--dark {
  color: $dark;
}
.il-color--harddark {
  color: #080716;
}
.il-color--red {
  color: $red;
}

.il-color--orange {
  color: $orange;
}
