form.il-form {
  width: 100%;
  margin: auto;
  padding: 0.5rem;
  input[type='text'],
  input[type='email'],
  input[type='password'],
  input[type='date'],
  input[type='number'],
  select.il-select {
    width: 100%;
    height: 40px;
    display: block;
    margin: 0 auto;
    font-family: inherit;
    font-size: 14px;
    margin-bottom: 1.2rem;
    padding: 0.35rem 0.45rem;
    border: 1px solid #7a7c80;
    border-radius: 3px;
  }
  .il-field--select {
    display: flex;
    select.il-select {
      width: 40%;
    }
  }
  .il-field--flex {
    display: flex;
    i.mdi {
      cursor: pointer;
      margin-left: 5px;
      &:hover {
        transform: scale(0.9);
      }
    }
  }
  .il-form--field {
    padding: 0.25rem 0;
    margin-bottom: 0.15rem;
    position: relative;
    label {
      color: rgb(15, 13, 29);
      position: absolute;
      top: -25px;
      right: 0;
      font-size: 0.79rem;
      font-weight: bolder;
      &.il-label--expenses {
        color: white;
      }
    }
  }
  .il-field--radio,
  .il-field--check {
    padding: 0.2rem 0;
    margin-bottom: 1rem;
    border: 1px solid #67686b;
    border-radius: 3px;
    label {
      margin: 0 0.25rem;
    }
    input[type='radio'],
    input[type='checkbox'] {
      width: 22px;
      height: 22px;
      position: relative;
      left: 5px;
      top: 4px;
    }
  }
  &.il-form--signup,
  &.il-form--payment select {
    min-width: 300px;
  }
  &.il-form--signup .il-signup {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 0.4rem;
  }
}
