.il-login {
  //background: white;
  height: 540px;
  width: 100%;
  max-width: 400px;
  @media (min-width: 680px) {
    max-width: 600px;
  }
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  .il-login--header {
    text-align: center;
    height: 1.5rem;
    width: 100%;
    opacity: 0;
    animation: _hidden 8000ms;
    & span {
      color: #0e213a;
      text-align: center;
      line-height: 1.5rem;
    }
  }
  .il-login--content {
    padding: 0;
    //height: 100%;
    ul.il-login--tab {
      width: 100%;
      display: flex;
      justify-content: center;
      align-content: center;

      li {
        flex: 1;
        background: #383842;
        height: 2rem;
        &.il-register {
          background: #364150;
        }
        @include ease(650);
        span {
          text-transform: uppercase;
          display: block;
          font-size: 0.89rem;
          line-height: 2rem;
          width: 100%;
          height: 100%;
          text-align: center;
          color: #d4e1e7;
          opacity: 0.7;
          transition: 450ms ease-in;
          cursor: pointer;
          &.il-aba--active {
            @include ease(500);
            opacity: 1;
            background: darken(#7487a8, 25%);
            letter-spacing: 3px;
            font-weight: bolder;
          }
          &:hover {
            @include ease(650);
            opacity: 1;
            background: darken(#7487a8, 20%);
          }
        }
      }
    }
    nav.il-tabs {
      width: 100%;
      .il-tabs--content {
        position: relative;
        .il-tabs--login,
        .il-tabs--register {
          position: absolute;
          left: -150%;
          padding: 0.45rem;
          width: 100%;
          background: #fefcfe;
          box-shadow: 4px 3px 5px #332c2b;
          &.il-tab--active {
            @include ease(450);
            z-index: 0;
            opacity: 1;
            left: 0;
          }
          h3 {
            font-size: 0.85rem;
            color: #060b31;
            padding: 0;
            text-align: center;
            font-weight: 400;
          }
        }
      }
    }
  }
}
