section.il-section.il-section--expenses {
  padding: 2rem 0;
  .il-expenses {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    @media screen and(min-width: 680px) {
      max-width: 640px;
    }
    @media screen and(min-width: 768px) {
      max-width: 720px;
    }
  }
  .il-expenses--content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    .il-sub--menu {
      display: flex;
      justify-content: space-between;
    }
    span {
      text-align: center;
      font-size: 24px;
      font-weight: bolder;
      margin-bottom: 0.5rem;
    }
    div {
      width: 100%;
      .il-btn--content {
        display: flex;
        justify-content: space-around;
      }
    }
  }
}
