header {
  height: 83px;
  position: relative;
  background-image: linear-gradient(
    to top,
    #e0e7f5 0%,
    #b8cdf5 1%,
    #f2f3f5 100%
  );
  .il-header--content {
    display: flex;
    justify-content: space-between;
    align-content: center;
    max-width: 1344px;
    margin: 0 auto;
    .il-brand {
      width: 100%;
      max-width: 122px;
    }
    .il-brand img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
    .il-title h1 {
      margin: 0;
      font-size: 1.1rem;
      line-height: 83px;
    }
    @import '../theme/menu';
  }
}
