.il-months {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(50px, 80px));
  margin: 0.75rem 0 1.5rem 0;
  justify-content: center;
  & .il-months--box {
    margin: 0.15rem;
    border: 1px solid white;
    &:hover {
      background: #0d0d0f;
    }
    & span {
      display: block;
      text-align: center;
      font-weight: bold;
      cursor: pointer;
      color: white;
      padding: 0 0.15rem;
      cursor: pointer;
      font-weight: bold;
      text-transform: uppercase;
      /*&:hover {
        color: #d6fefe;
      }
      &.actived {
        border: none;
        background: #0c4eb1 !important;
        border: 1px solid #b6e0f8;
        & span {
          color: #96d1f3;
          &:hover {
            color: #ecf02c;
            font-weight: bolder;
            text-transform: uppercase;
          }
        }
      }*/
    }
    &.is-active,
    &.actived {
      border: 1px solid yellow;
      //background: #bcd1da !important;
      & span {
        color: #f3ec2e;
        &:hover {
          color: #af908f;
          //font-weight: bolder;
          //text-transform: uppercase;
        }
      }
    }
  }
}
