nav.il-navegation {
  height: 70px;
  width: 100%;
  position: absolute;
  top: 83px;
  z-index: 1;
  ul.il-nav--slice {
    margin-top: 10px;
    padding: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    li {
      width: 100%;
      height: 60px;
      text-align: center;
      margin: 0 0.4rem;
      flex: 1;
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgb(209, 202, 202);
        margin: 0;
        color: black;
        width: 100%;
        height: 100%;
        text-transform: uppercase;
        &:hover {
          background: rgb(245, 48, 48);
          color: white;
        }
      }
    }
  }
}
