.il-snapshot {
  width: 100%;
  .il-card--snapshot {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 1rem;
    justify-content: center;
    text-align: center;
    .il-card--content {
      display: flex;
      flex-direction: column;
      button {
        width: 100%;
        max-width: 300px;
        margin: 10px auto;
      }
    }
    video.il-video,
    canvas.il-canvas {
      width: 300px;
      height: calc((300 * 56.25) / 100 * 1px);
      margin: auto;
      border: 2px solid #a19ca0;
    }
  }
}
.il-snapshot--avatar {
  width: 100px;
  margin: 0.45rem auto;
  padding: 0.45rem;
  img {
    width: 100%;
    border-radius: 50%;
  }
}
