.il-student {
  position: relative;
  display: flex;
  flex-direction: column;
  .il-student--content {
    position: relative;
  }
  .il-student--address {
    position: absolute;
    bottom: 25%;
    width: 100%;
    max-width: 800px;
    left: 50%;
    transform: translateX(-50%);
    height: 200px;
    padding: 10px 30px;
    //background: #f2fafc;
    display: flex;
    justify-content: center;
    a.il-close {
      display: block;
      height: 30px;
      width: 30px;
      margin: 0 auto;
      margin-bottom: 0.5rem;
      color: red;
      &.il-close--address {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 50%;
        background: #434343;
        text-align: center;
      }
      i {
        line-height: 30px;
      }
    }
    & table {
      max-width: 700px;
    }
  }
}
