.il-student {
  position: relative;
  display: flex;
  flex-direction: column;
  .il-student--content {
    position: relative;
    .il-sub--menu {
      display: flex;
      justify-content: space-between;
    }
  }
  .il-student--address {
    position: absolute;
    top: 15%;
    width: 80%;
    height: 240px;
    left: 50%;
    transform: translateX(-50%);
    background: #f2fafc;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    box-shadow: 2px 3px 7px 0px #2b6181;
    a.il-close {
      display: block;
      height: 30px;
      width: 30px;
      margin: 0 auto;
      color: rgb(247, 236, 236);
      &.il-close--address {
        position: relative;
        border-radius: 50%;
        background: #434343;
        text-align: center;
      }
      i {
        line-height: 30px;
      }
    }
    & table {
      margin: auto;
      box-shadow: none;
    }
  }
}
